.card {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  position: relative;
  .svg-holder {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
    height: 1rem;
    width: 1rem;
  }

}

