<form
    [formGroup]="passwordForm"
    class="card"
>
    <!-- CLOSE BUTTON -->
    <div
        class="svg-holder"
        (click)="closeCard()"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            :xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            x="0px"
            y="0px"
            viewBox="0 0 1000 1000"
            enable-background="new 0 0 1000 1000"
            :xml:space="preserve"
        >
            <metadata>
                Svg Vector Icons : http://www.onlinewebfonts.com/icon
            </metadata>
            <g>
                <path d="M100,14.5l890,887.2l-83.5,83.8L16.5,98.3L100,14.5z"></path>
                <path d="M903.8,14.4l83.3,83.9L93.3,985.6L10,901.7L903.8,14.4z"></path>
            </g>
        </svg>
    </div>

    <div class="form-element">
        <label for="oldPass">Old password:</label>
        <input
            formControlName="oldPassword"
            type="password"
            id="odPass"
        >
    </div>

    <div class="form-element">
        <label for="firstPass">New password:</label>
        <input
            formControlName="firstPassword"
            type="password"
            id="firstPass"
        >
    </div>

    <div class="form-element">
        <label for="secondPass">Retype new password:</label>
        <input
            formControlName="secondPassword"
            type="password"
            id="secondPass"
        >
    </div>

    <div class="button-holder">
        <button
            type="button"
            class="primary-btn save-btn"
            (click)="savePassword()"
            [disabled]="passwordForm.invalid"
        >
            Save new password
        </button>
    </div>
</form>

<app-notification
    *ngIf="showNotification"
    [success]="notificationSuccess"
    [text]="notificationText"
></app-notification>
